@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Patua+One&display=swap');

body {
  margin: 0;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  font-family: "Patua One", serif;
  height: 100vh;
  width: 100vw;
}